footer
    p.footer_text= "도비마켓"
#basket
        a(href='javascript:void(0);' onclick="basket();")#basket_button
            img(src="images/option_up.png" width="32px" height="18px")#basket_button_img
        #basket_inner
            #basket_cards
                +card_basket("#", "images/temp_card_img.png", "a", 0, 0)
                +card_basket("#", "images/temp_card_img.png", "b", 1, 1)
                +card_basket("#", "images/temp_card_img.png", "c", 2, 2)
                +card_basket("#", "images/temp_card_img.png", "d", 3, 3)
                +card_basket("#", "images/temp_card_img.png", "e", 4, 4)
                +card_basket("#", "images/temp_card_img.png", "f", 5, 5)
                - for (var i = 6; i <= 100; i++)
                    +card_basket("#", "images/temp_card_img.png", "과카몰리", i, i)

            #basket_recipt
                #basket_list
                    p= "목록"  
                    .basket_line
                    
                #basket_total