footer
    p.footer_text= "도비마켓"
#basket
        a(href='javascript:void(0);' onclick="basket();")#basket_button
            img(src="images/option_up.png" width="32px" height="18px")#basket_button_img
        #basket_inner
            #basket_cards
                - for (var i = 0; i <= 100; i++)
                    +card_basket("#", "images/temp_card_img.png", "과카몰리", i, i)

            #basket_recipt
                #basket_list
                    p#receipt_title= "목록"
                    .basket_line
                    .receipt_list
                        - for (var i = 0; i <= 100; i++)
                            +card_list("과카몰리", 3, 1000)


                #basket_total