extends layout
include mixins

block content
    .content_box
        .inner_cont_box
            .cont_title
                p.cont_title_text= "최근 본 상품"
                .cont_title_line
            .main_cont#main_cont_1 
                p#main_cont_1_text= "최근 본 상품이 없음"
            .main_cont#main_cont_2
                - for (var i = 0; i < 6; i++)
                    +card_main()

    .content_box
        .inner_cont_box
            .cont_title
                p.cont_title_text= "인기 상품"
                .cont_title_line
            .main_cont#main_cont_3
                - for (var i = 0; i < 6; i++)
                    +card_main()

    .content_box
        .inner_cont_box
            .cont_title
                p.cont_title_text= "스테디 셀러"
                .cont_title_line
            .main_cont
                - for (var i = 0; i < 6; i++)
                    +card_main()
