mixin card_main()
    a.card_slot(href='#')
        img(src="" width="100px" height="144px").card_img
        .card_name= 'name'
        .card_price= 'price'
        .icon_slot
            img(src="images/icon_pop.png" width="50" height="25")#img1
            img(src="images/icon_no_stock.png" width="50" height="25" )#img2
    //- 추후 스크립트 짤때 구조체로 변경

mixin card_basket(i)
    a.basket_card_slot(href='#')
        img(src="" width="80px" height="116px").card_img 
        //- 이미지 링크 복구하기
        .basket_card_name
        .basket_card_price
        .basket_remove_button(href='javascript:void(0);' onclick='remove_basket('+i+')')
        
mixin card_list()
    .receipt_list_one
        .receipt_list_slot1
            p.receipt_list_name
            p.receipt_list_price= `개당 `
        .receipt_list_slot2
            p.receipt_list_calc= ` ea`
            p.receipt_list_total= `₩ `

mixin search_list()
    a.search_list_box(href="#")
        .search_list_img
            img(src="" width="70px" height="102px")
        .search_list_slot1 
            p.search_list_name
            p.search_list_count
        .search_list_slot2
            p.search_list_lowest= "최저가"
            p.search_list_pric
    .search_list_line

mixin same_name()
    a.same_name_card(href='#')
        img(src='' width="90px" height="120px")#same_name_card_img
        p#same_name_card_name
        p#same_name_card_code
        p#same_name_card_stock= "true"